body {
  margin: 0;
  background-color: black;
  overflow: hidden;
}

input,
button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.App {
  text-align: center;
}

.tools {
  display: flex;
  gap: 2px;
  vertical-align: middle;
  opacity: 0;
}

.ui {
  font-family: 'Courier New';
  background-color: transparent;
  border: none;
  color: rgb(165, 17, 165);
  font-size: 40px;
  margin: 4px;
  outline: none;
  cursor: pointer;
  opacity: 0.6;
}

.music-list {
  border: solid 1px burlywood;
  display: grid;
}

.ui:active {
  color: white;
}

.ui:hover {
  opacity: 1;
}

.menu,
.login {
  display: flex;
  position: absolute;
  z-index: 100;
}
.menu {
  opacity: 0;
  right: 0;
}
.login {
  bottom: 0;
  left: 0;
  width: 600px;
  margin: auto;
  opacity: 0;
}
.login:hover,
.menu:hover,
.tools:hover {
  opacity: 1;
}

.matrix {
  display: grid;
  gap: 10px;
  margin: 5% 1%;
}

.note-button {
  border: none;
  background-color: transparent;
  width: 25px;
  height: 25px;
  opacity: 0.1;
  transition: all 120ms ease-in-out;
  /* transition: all 300ms ease-in-out; */
  outline: none;
}

.note-button:hover {
  /* transition: all 100ms ease-in-out; */
  opacity: 0.5 !important;
}

.shape {
  /* transition: all 100ms ease-in-out; */
  height: 20px;
  width: 20px;
  text-align: center;
  border-radius: 50%;
}
input {
  padding-left: 10px;
}
@media only screen and (max-width: 700px) {
  input {
    max-width: 100px !important;
  }
  .menu {
    bottom: 0;
  }
}
